extends layout

block content
  if user
    if user.username == post.author
      p
        span
          a.edit(href="/edit/" + post.author + "/" + post.title + "?id=" + post._id ) 编辑
          span &nbsp;|&nbsp;
          a.edit(href="/delete?id=" + post._id ) 删除
  p
    h2
      a(href="#")= post.title
    p.info
      a(href="")= '作者：' + post.author
      span= ' | 日期：' + post.pushlishTime        
      span= ' | 浏览：' + post.pv
    p= post.article

      if post.postImg
        img(src="/images/"+ post.postImg +"", alt="", style="width:100%; height:100%")
